<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
<script src="/javascripts/index.js"></script>

<div id="container" class="row justify-content-between py-5">
    <div id="canvas-container" class="col-6 text-left"></div>
    <div class="col-3 bg-light text-right">
        <form id="build_form" style="height: 100%" action="/builds/<%= @build.id %>" method="POST">
            <input id="hidden" type="hidden" name="_method" value="PATCH">

            <div style="height: 100%" class="d-flex flex-column justify-content-between" id="form-inner">
                <div class="d-flex flex-column align-items-start" id="input-group">
                    <div class="pt-2 mt-0">
                        <label class="px-2" for="keyboard_name">Name</label>
                        <input type="text" id="keyboard_name" name="keyboard_name" value="<%= @build.name.to_s %>"><br>
                    </div>
                    
                    <div class="pt-2">
                        <label class="px-2" for="keycaps_primary_color">Primary</label>
                        <select name="keycaps_primary" id="keycaps_primary_color" onchange="changeKeyPrimaryColor()">
                            <%= ViewHelpers.generate_options_for_edit(@build.primary_color, "keycaps_primary") %>
                        </select><br>
                    </div>

                    <div class="pt-2">
                        <label class="px-2" for="keycaps_alt_color">Alt</label>
                        <select name="keycaps_alt" id="keycaps_alt_color" onchange="changeKeyAltColor()">
                            <%= ViewHelpers.generate_options_for_edit(@build.alt_color, "keycaps_alt") %>
                        </select><br>
                    </div>

                    <div class="pt-2">
                        <label class="px-2" for="case_color">Case</label>
                        <select name="case" id="case_color" onchange="changeCaseColor()">
                            <%= ViewHelpers.generate_options_for_edit(@build.case, "case") %>
                        </select><br>
                    </div>
                </div>

                <div class="d-flex mx-auto mb-2">
                    <input id="submit_btn" class="btn btn-primary" type="submit" value="Update">
                </div>
            </div>

        </form>
    <div>
<div>

